---
// Component Imports
import { DocumentDuplicateIcon } from "@heroicons/react/24/outline";
import { ArrowLeftOnRectangleIcon } from "@heroicons/react/24/solid";
import {
  Hero,
  Bridge,
  Steps,
  Features,
  Pricing,
  Skeptic,
  FAQ,
  CTA,
  Footer,
  Streamline,
  Environment,
  YourTech,
  TopBar,
} from "../components";

import HomeContent from "../content/Home";

import Body from "../layouts/Body.astro";

const { hero, bridge, steps, features, pricing, skeptic, faqs, cta } =
  HomeContent;

// Our Story
// DevOps slowing you down?
// Streamline your pipeline
// Use Your Tech
// Any environment any time
// Observe more

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<Body>
  {/* Hero */}
  <div class="bg-noops-50">
    <TopBar />

    <Hero description={hero.description} client:load />

    <Streamline
      title={bridge.title}
      description={bridge.description}
      client:visible
    />

    <YourTech client:visible />

    <Environment client:visible />

    {/* Relevant Page */}
    {/* <RoleSelect /> */}
    <!-- <Steps
      title={steps.title}
      description={steps.description}
      steps={steps.steps}
    /> -->

    <!-- <Features
      title={features.title}
      subtitle={features.subtitle}
      description={features.description}
      features={features.features}
    /> -->

    {/* Testimonials */}

    {/* Heard enough? CTA in the middle of the flow? */}

    <!-- <Pricing title={pricing.title} subtitle={pricing.subtitle} /> -->

    <!-- <Skeptic
      title={skeptic.title}
      prompt={skeptic.prompt}
      cta={skeptic.cta}
      client:visible
    /> -->

    {/* FAQ? */}
    <!-- <FAQ title={faqs.title} description={faqs.description} faqs={faqs.faqs} /> -->

    {/* CTA */}
    <!-- <CTA line1={cta.line1} line2={cta.line2} cta={cta.cta} /> -->

    {/* Need a footer? */}
    <Footer />
  </div>
</Body>
