---
import { NoSurprises, SEFeatures, SEHero, Stack } from "../../components";
import SEContent from "../../content/SoftwareEngineer";
import Body from "../../layouts/Body.astro";

const { hero, features, section3, section4 } = SEContent;
---

<Body>
  <div>
    {/* Hero */}
    <SEHero
      title={hero.title}
      description={hero.description}
      subtitle={hero.subtitle}
    />

    {/* content */}
    <SEFeatures
      title={features.title}
      description={features.description}
      subtitle={features.subtitle}
      features={features.features}
    />

    {/* NO SURPRISES ANIMATION */}
    <NoSurprises client:visible />

    <div class="relative mb-28 bg-white">
      {
        /* <div class="absolute top-3/4 aspect-square w-1/3 -translate-y-1/2 rounded-full bg-noops-300/30 blur-3xl"></div> */
      }
      <div
        class="absolute inset-0 bg-gradient-to-tr from-noops-300/50 via-transparent to-noops-300/50 blur-3xl"
      >
      </div>
      <div class="relative px-6 py-24 sm:px-6 sm:py-32 lg:px-8">
        <div class="mx-auto max-w-2xl text-center">
          <h2
            class="whitespace-pre-line text-3xl font-bold tracking-tight text-noops-900 sm:text-4xl"
          >
            {section3.title}
          </h2>
          <p class="mx-auto mt-6 max-w-xl text-lg leading-8 text-noops-600">
            {section3.description}
          </p>
          <div class="mt-10 flex items-center justify-center gap-x-6">
            <a
              href={section3.ctaHref}
              class="rounded-full bg-noops-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm transition hover:bg-noops-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-noops-600"
            >
              {section3.cta}
            </a>
            <a
              href={section3.href}
              class="inline-flex cursor-pointer items-center gap-x-2 rounded-full border border-transparent px-4 py-1.5 text-sm text-noops-500 transition hover:border-noops-500/60 hover:bg-noops-600 hover:bg-opacity-10 hover:shadow-lg hover:shadow-noops-400/10 focus-visible:outline focus-visible:outline-noops-500/60"
            >
              Learn more
            </a>
          </div>
        </div>
      </div>
    </div>

    <Stack
      title={section4.title}
      description={section4.description}
      href={section4.href}
    />

    <div class="mx-auto max-w-7xl px-2 pb-14">
      <div class="relative">
        <div
          class="absolute inset-0 rounded-xl bg-opacity-30 bg-gradient-to-br from-noops-300/50 via-transparent to-noops-400/50 blur-xl"
        >
        </div>
        <div
          class="relative mt-24 rounded-xl border border-noops-400/30 bg-noops-300/10 p-4 backdrop-blur-lg"
        >
          <h5
            class="mb-2 text-center text-2xl font-medium leading-10 text-noops-950"
          >
            Want to know more?
          </h5>
          <p class="text-center font-medium text-noops-900">
            If you have any questions about NoOps, or would like to learn more
            about how we can help you, please send an email to <br />
            <span class="mx-auto mt-1 block w-fit select-all font-semibold">
              sam@getnoops.com
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>
</Body>
